.aheadzen_voter_css{background-repeat:no-repeat;width: 150px; height:40px;display: block;padding:0;}

.aheadzen_vote.helpful_vote {font-size: 80%; clear: both;display: inline-block;margin:10px 0 0; font-size;80%; padding-bottom:10px;}
.aheadzen_vote.helpful_vote .aheadzen_vote.helpful_vote{font-size:100%;margin: 0;}
.aheadzen_vote.helpful_vote span{color: #666;float: left;font-weight: normal;margin-right:30px;line-height: 25px;}
#bbpress-forums div.bbp-topic-content .aheadzen_vote.helpful_vote a.aheadzen_voter_css,#bbpress-forums div.bbp-reply-content .aheadzen_vote.helpful_vote a.aheadzen_voter_css,.aheadzen_vote.helpful_vote a.aheadzen_voter_css{ line-height: 2em; margin-right: 10px;margin-top: 6px;font-size: 80%; border: 1px solid #ccc;height: auto;text-align: center;width:3em;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.aheadzen_vote.helpful_vote .aheadzen_vote.helpful_vote a.aheadzen_voter_css {font-size:80%;}
.aheadzen_vote.helpful_vote .vote-count-post{min-width:0;padding:1px;}
/*#bbpress-forums div.bbp-topic-content .aheadzen_vote.helpful_vote a#voter_up.vote-up-on,#bbpress-forums div.bbp-reply-content .aheadzen_vote.helpful_vote a#voter_up.vote-up-on,.aheadzen_vote.helpful_vote a#voter_up.vote-up-on{background-color: #a4c346;color:#FFFFFF;}*/
.aheadzen_vote.helpful_vote a#voter_up.vote-up-on,.aheadzen_vote.helpful_vote a#voter_down.vote-up-on{background-color: #a4c346;color:#FFFFFF;}
.aheadzen_vote.helpful_vote a#voter_up.vote-down-on,.aheadzen_vote.helpful_vote a#voter_down.vote-down-on{ background-color: #b72121;color: #FFFFFF;}

.aheadzen_vote{width:100%;line-height: 50px;display: inline-block;}
.aheadzen_vote a.aheadzen_voter_css, .aheadzen_vote  a.aheadzen_vote{ float:left; border: medium none;text-decoration: none;}
.aheadzen_vote  .vote-count-post{font-size:1em;text-align: center;color: #999;margin:0 0.5em; float:left;line-height: 40px;}
.aheadzen_vote  .vote-ajax-preloader{background:url('../images/ajax-loader.gif') center center no-repeat;width: 30px;height: 30px; float:left;}
.aheadzen_vote span{ display: inline-block;}
.like_unlike_vote{float:none; display: inline-block; clear:both; margin: 0;}
.like_unlike_vote a{background:none;height: auto;}
.aheadzen_vote.like_unlike_vote {width: 75px;}

.ui-widget-content {background: none repeat-x scroll 50% 2% #ffffff;border: 1px solid #ffffff;color: #34495e;}
.ui-draggable .ui-dialog-titlebar {background-color: #2c3e50;background-image: none;border: 1px solid #2c3e50;color: #ffffff;font-weight: bold;}
#wp-submit,.aheadzen_button_blue{background: none repeat scroll 50% 50% #3890DB;font-size: 15px;color: #ffffff;padding: 5px 20px;text-transform: uppercase;font-size: 15px;border: 0 none;display: inline-block;margin: 0; }
.aheadzen_button_red{background: none repeat scroll 50% 50% #f03c33;border: 1px solid #d23126;color: #ffffff;padding: 5px 20px;text-transform: uppercase;font-size: 15px;margin-top:5px;border: 0 none;display: inline-block;margin: 0;}
#wp-submit:hover{color:#DEEDF9;}
#aheadzen_voting_login p{color: #747373;font-size: 14px;font-style: normal;font-weight: 400;line-height: 20px; margin: 0.8em 0; padding: 0;vertical-align: baseline;}
#aheadzen_voting_login label {display: block;margin-bottom: 5px;}
#aheadzen_voting_login #user_login,#aheadzen_voting_login #user_pass {border-color: #e0dfdf;ransition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;font-size: 1em;height: 30px;}


div.aheadzen_vote .thumbs_up_down .fa {font-size: 2.5em;}
div.aheadzen_vote .thumbs_up_down.vote-up-on .fa{color:#3FAF47;}
div.aheadzen_vote .thumbs_up_down.vote-down-on .fa{color:#CE160F;}
div.aheadzen_vote .aheadzen_voter_css.thumbs_up_down {width: 2em;padding: 0;}
div.aheadzen_vote .thumbs_up_down .fa.fa-thumbs-down{
-ms-transform: rotateY(180deg); /* IE 9 */
-webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
transform: rotateY(180deg);
}

div.aheadzen_vote a#voter_up.button_up_down,div.aheadzen_vote  a#voter_down.button_up_down {background-color: #ccc; -webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em;height: 1.2em;line-height: 1.5em;margin: 0;padding: 0.8em;width: 1.2em;}
div.aheadzen_vote  a#voter_up.button_up_down  i.fa,div.aheadzen_vote  a#voter_down.button_up_down  i.fa{color:#fff;}
div.aheadzen_vote  a#voter_up.button_up_down i.fa,div.aheadzen_vote  a#voter_down.button_up_down i.fa {font-size: 2em;line-height: 0.5em;}
div.aheadzen_vote  a#voter_up.vote-up-on.button_up_down,div.aheadzen_vote  a#voter_down.vote-up-on.button_up_down {background-color: #3FAF47;color: #fff;}
div.aheadzen_vote  a#voter_up.vote-down-on.button_up_down,div.aheadzen_vote  a#voter_down.vote-down-on.button_up_down{background-color: #CE160F;color: #fff;}
div.aheadzen_vote  a.aheadzen_voter_css i.fa{color:#ccc;}

.top_voter_shortcode ul.voter_top_list.title {padding-left: 10px;}
.top_voter_shortcode ul.voter_top_list.title li {display: inline-block;margin-right: 2%;width: 45%;}
.top_voter_shortcode  ul.voter_top_list.titleimage  li,.top_voter_shortcode  ul.voter_top_list.image  li{ display: inline-block;width: 19%;margin-right: 1%;text-align: center;margin-bottom: 2%;}
.top_voter_shortcode  ul.voter_top_list li img{max-width:100%;height:auto;margin: 0 auto;}